
# OpenRouter API keys
OPENROUTER_API_KEY=


# Pinecone api keys and env and index_name:
PINECONE_API_KEY="your pinecone api key"
PINECONE_ENVIRONMENT="your pincone env name"
PINECONE_INDEX_NAME="your pincone index-name"

# Clerk API keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= "your clerk publishable key"
CLERK_SECRET_KEY="your clerk secret key"


# Clerk Authentication and routes
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/home
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/home


